body {
    background-image: url(zebra.jpg);
    background-repeat: no-repeat;
    background-size: ;
}
h1 {
    color: red;
    text-align: center;
    text-shadow: 2px 2px 5px black;
}
h2{
    color: rgb(0, 204,255);
}
.square {
    width: 100px;
    height: 100px;
    background-color: blue;
    margin: auto;
}
#circle {
    color: darkred;
    font-size: 40px;
}
.container {
    background-color: linear-gradient(to right, #00ccff,#b3f0ff);
    background-color: #00ff00;
    box-shadow: 3px 5px 3px black;
}
.borderImg {
    border: 2px solid red;
}

ul li {
    color: black;
    font-size: 20px;
}
ul > li {
    color: yellow;
}